.header {
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
  margin-bottom: 2rem;
  
}

.nav {
  display: flex;
}

.ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul li {
  font-size: var(--cuerpo);
  list-style-type: none;
  text-decoration: none;
  color: #cc2a42;
  scroll-behavior: smooth;
  cursor: pointer;
}

ul li:hover {
  text-decoration: underline;
}

.spacing {
  height: 1.3rem;
  border-right: dashed #cc2a42;
  border-width: 0.1rem ;
}


.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}