.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}

.projectCard {
  border: solid 1px #d6d6d6;
  border-radius: 0.5rem;
  padding: 1rem 1rem 0 1rem;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

}

.projectCard p {
  text-align: center;
  margin: 1rem 1rem 0 1rem;
  font-size: 14px;
}


.figureCard {
  width: 100%;
}

.figureCard img {
  width: 100%;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.technologies span {
border: solid 1px gray;
border-radius: 0.3rem;
padding: 0.1rem 0.3rem 0.1rem 0.3rem;
font-size: 12px;
}

.projectsLinks {
  display: flex;
  flex-direction: unset;
  gap: 0.1rem;
}

.projectsLinks button{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.projectsLinks button svg:hover {
  color: gray;
}

@media screen and (max-width: 425px) {
  h2 {
    text-align: center;
    margin: 1.5rem;
  }

  p {
    text-align: center;
  }

  .projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem
  }

  .projectCard {
    margin: 0 1rem;

  }
}