@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: var(--mobile-fonts);
  font-family: var(--desktop-fonts);
}

body {
  background-color: hsl(0, 0%, 98%);

}

h1 {
  font-size: var(--titulos);
}

h2 {
  font-size: var(--subtitulos);
}

p {
  font-size: var(--cuerpo);
  line-height: 1.3rem;
}

:root {

  --desktop-fonts: Courier, 'Courier New','Liberation Mono', 'Fira Mono';
  --mobile-fonts: 'Fira Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --titulos: 1.5rem;
  --subtitulos: 1.25rem;
  --cuerpo: 0.875rem;
  --pie: 0.75rem;

  /* font-family: 'Roboto Mono', monospace;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Fira Mono', monospace; */
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

@media screen and (max-width: 425px) {
  * {
    font-family: var(--mobile-fonts);
  }
  body {
    width: 100vw;
  }
}